//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Thu 02 16 20:48:17 2023

IO_LOC "FullColor_LED[2]" 11;
IO_PORT "FullColor_LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "FullColor_LED[1]" 10;
IO_PORT "FullColor_LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "FullColor_LED[0]" 9;
IO_PORT "FullColor_LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "tx" 46;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "rx" 40;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "sw1" 13;
IO_PORT "sw1" IO_TYPE=LVCMOS33 PULL_MODE=NONE HYSTERESIS=HIGH;
IO_LOC "reset" 44;
IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=NONE HYSTERESIS=HIGH;
IO_LOC "clock" 47;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=NONE HYSTERESIS=HIGH;
